<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class = "container m-4">

  <h1>Start a New Game</h1>
  <p>Play with the following grid:</p>

  <div class = "d-inline-flex border p-3 mb-2">
  <% @letters.each do |letter| %>
    <h4 class = "pr-3"><%=p letter%></h4>
  <% end %>
  </div>

  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word" placeholder="Type your word here">
    <input type="submit" value="Compute my word Score!">
   <% @endtime = Time.now %>
   raise
  </form>

  <!-- <p>Find me in app/views/games/new.html.erb</p> -->

</div>
